<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
  <div class="footer-basic">
    <footer>
      <div class="social">
        <a target="_blank" href="https://www.instagram.com/Fleni_Oficial/"><i class="icon ion-social-instagram"></i></a>
        <a target="_blank" href="https://twitter.com/FleniOficial"><i class="icon ion-social-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/FleniOficial/"><i class="icon ion-social-facebook"></i></a>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a target="_blank" href="https://www.fleni.org.ar/">Home</a></li>
        <li class="list-inline-item"><a target="_blank" href="https://portalpacientes.fleni.org.ar/#/app/login">Portal pacientes</a></li>
        <li class="list-inline-item"><a target="_blank" href="https://www.fleni.org.ar/contacto/">Contacto</a></li>
        <li class="list-inline-item">
          <a href="tel:5491157773200" target="_blank">011 5777 3200</a>
        </li>
      </ul>
      <p class="copyright">Fleni © 2022</p>
    </footer>
  </div>
</body>
