.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;
}

button {
  color: #e5e5e5;
  background:  #003865;
  font-size: 18px !important;
}
button:hover{
  color:  #003865;
  background: #e5e5e5;
}
button:disabled{
  background:  rgba(0,0,0,.04);
  color: #f44336 !important;
}

.mat-form-field {
  display: flex;
  justify-content: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-card{
  font-family: 'Interstate', sans-serif !important;
  min-width: auto;
}

.subtitle {
  font-size: 18px !important;
  margin-top:8px;
}

.datepicker{
  max-width:200px!important;
}

.appointment{
  max-width: 500px;
  -webkit-box-shadow: 8px 8px 30px -2px rgba(0,0,0,0.42); 
  box-shadow: 8px 8px 30px -2px rgba(0,0,0,0.42);
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}