<div class="container">
  <mat-card class="my-card mt-4 mx-auto">
    <div class="col">
      <div class="row">
        <mat-card-title class="text-center">CHECK-IN</mat-card-title>
        <hr>
      </div>
      <div class="row">
        <mat-card-content class="text-center mt-3">
          <mat-stepper #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form class="mt-3" [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Ingrese su dni</ng-template>
                <mat-form-field appearance="outline">
                  <mat-label>Ingresar QR o DNI</mat-label>
                  <input matInput placeholder="QR o DNI" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-icon-button matStepperNext>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form class="mt-3" [formGroup]="secondFormGroup" class="mx-auto">
                <ng-template matStepLabel>Formulario de ingreso</ng-template>
                
                <div class="row justify-content-md-center">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Nombre completo</mat-label>
                      <input matInput placeholder="Nombre completo" formControlName="nombre" type="text" #nombre id="nombre" >
                    </mat-form-field>
                  </div>  
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Apellido</mat-label>
                      <input matInput placeholder="Apellido">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row justify-content-md-center">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Numero de DNI</mat-label>
                      <input matInput #DNI maxlength="8" placeholder="Ej. 12345678">
                    </mat-form-field>
                  </div>  
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Fecha de nacimiento</mat-label>
                      <input matInput [matDatepicker]="picker" class="datePicker">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row justify-content-md-center">
                  <div class="col-md-4">
                    <div class="row">
                      <label id="example-radio-group-label">Sexo de nacimiento</label>
                    </div>
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="1">Masculino</mat-radio-button>
                      <mat-radio-button value="2">Femenino</mat-radio-button>
                    </mat-radio-group>
                  </div>  
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Motivo de ingreso</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let motivo of checkinReasons" [value]="motivo">
                          {{motivo}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <button mat-icon-button matStepperNext>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Recepción finalizada</ng-template>
              <p>Mensaje opcional</p>
              <hr>
              <h1>UD. TIENE EL SIGUIENTE TURNO</h1>
              <h3>PROFESIONAL: Dra/DR: RODRIGUEZ, OSCAR</h3>
              <h3>PRACTICA: CONSULTA MEDICA</h3>
              <h3>CONSULTORIO: 3er piso - consultorio 317</h3>
              <div>
                <button mat-icon-button matStepperPrevious>
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button mat-button (click)="stepper.reset()">
                  Finalizar
                </button>
              </div>
            </mat-step>
          </mat-stepper>
        </mat-card-content>
      </div>
    <div class="row">
      <mat-card-actions class="d-flex">
        <button class="ms-auto go-back-button" (click)="goBack()" mat-raised-button>
          <mat-icon class="keyboard_backspace">keyboard_backspace</mat-icon>
        </button>
      </mat-card-actions>
    </div>
    </div>
  </mat-card>
</div>
