<div class="container">
  <mat-card class="my-card mt-4 mx-auto">
    <div class="col">
      <div class="row">
        <mat-card-title class="text-center">LINK A ESTUDIO RIS</mat-card-title>
        <hr>
      </div>
      <div class="row">
        <mat-card-header class="justify-content-center">
          <img mat-card-avatar src="../../../assets/apple-touch-icon.png" alt="Foto de perfil"/>
          <mat-card-title class="subtitle align-text-center">{{beneficiario}}</mat-card-title>
        </mat-card-header>
      </div>
      <div class="row">
        <mat-card-content class="text-center mt-3">
          <h2>Link generado con éxito!</h2>
        </mat-card-content>
      </div>
      <div class="row">
        <mat-card-actions class="d-grid">
          <button class="mx-auto" mat-raised-button (click)="downloadMyFile()">
            <mat-icon class="view-icon">visibility</mat-icon>
            Ir al estudio
          </button>
          <button class="mt-2 mx-auto mat-focus-indicator mx-auto mat-raised-button mat-button-base" 
          (click)="openSnackbar('Link copiado exitosamente', '', 3000, 'success-snackbar')" cdkCopyToClipboard="{{linkEstudios}}">
            <mat-icon class="link-icon">link</mat-icon>
            Copiar link
          </button>
        </mat-card-actions>
      </div>
      <multiselect-autocomplete
        placeholder="Seleccione al menos un mail ..."
        key="options"
        [data]="selectOptions"
        (result)="selectChange($event)">
      </multiselect-autocomplete>
    <div class="row" *ngIf="!loading && (httpErrorType==1)" >
      <div class="alert alert-success text-center mx-auto">
        <p>Mail enviado exitosamente</p>
      </div>
    </div>
    <div class="row">
      <mat-card-actions class="d-flex">
        <button class="mx-auto" (click)="sendMail()" mat-raised-button>Enviar por mail</button>
      </mat-card-actions>
    </div>
    <div class="row">
      <mat-card-actions class="d-flex">
        <button class="ms-auto go-back-button" (click)="goBack()" mat-raised-button>
          <mat-icon class="keyboard_backspace">keyboard_backspace</mat-icon>
        </button>
      </mat-card-actions>
    </div>
    </div>
  </mat-card>
</div>
