<div class="container">
  <mat-card class="my-card mt-4 mx-auto">
    <div class="col">
      <div class="row">
        <mat-card-title class="text-center">CHECK-IN</mat-card-title>
        <hr>
      </div>
      <div class="row">
        <mat-card-content class="text-center mt-3">
          <mat-stepper #stepper>
            <mat-step [stepControl]="identificationForm" [editable]="false">
              <form class="mt-3" [formGroup]="identificationForm" (ngSubmit)="getPaciente(pacienteId.value)">
                <ng-template matStepLabel>Ingrese su dni</ng-template>
                <mat-form-field appearance="outline">
                  <mat-label>Ingresar QR o DNI</mat-label>
                  <input matInput placeholder="QR o DNI" formControlName="pacienteId" #pacienteId id="pacienteId" required>
                </mat-form-field>
                <div>
                  <button mat-raised-button matStepperNext (click)="getPaciente(pacienteId.value)">
                    continuar<mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="pacienteForm" *ngIf="paciente.formInput" [editable]="false">
              <form class="mt-3" [formGroup]="pacienteForm" class="mx-auto">
                <ng-template matStepLabel>Formulario de ingreso</ng-template>
                <div class="row justify-content-md-center">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Nombre completo</mat-label>
                      <input formControlName="nombre" matInput placeholder="Nombre completo" type="text" #nombre id="nombre" required>
                    </mat-form-field>
                  </div>  
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Apellido</mat-label>
                      <input formControlName="apellido" matInput placeholder="Apellido" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row justify-content-md-center">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Numero de DNI</mat-label>
                      <input formControlName="dni" matInput #DNI placeholder="Ej. 12345678" required>
                    </mat-form-field>
                  </div>  
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Fecha de nacimiento</mat-label>
                      <input matInput formControlName="nacimiento" [matDatepicker]="picker" class="datePicker" reqyured>
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row justify-content-md-center">
                  <div class="col-md-4">
                    <div class="row">
                      <label id="example-radio-group-label">Sexo de nacimiento</label>
                    </div>
                    <mat-radio-group formControlName="sexo" aria-label="Select an option" required>
                      <mat-radio-button value="M">Masculino</mat-radio-button>
                      <mat-radio-button value="F">Femenino</mat-radio-button>
                    </mat-radio-group>
                  </div>  
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Motivo de ingreso</mat-label>
                      <mat-select formControlName="checkinReason" required>
                        <mat-option *ngFor="let motivo of checkinReasons" [value]="motivo">
                          {{motivo.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <button (click)="registrarIngreso()" type="submit" [disabled]="!pacienteForm.valid" mat-raised-button matStepperNext >
                    continuar<mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Recepción finalizada</ng-template>
<!-- ingreso sin turno previo -->
                <div *ngIf="this.registroExitoso">
                  <mat-card class="appointment mx-auto mt-3">
                    <mat-card-title-group class="text-center">
                      <h2 class="text-center mx-auto">Ingreso registrado</h2>
                    </mat-card-title-group>
                    <mat-card-content>
                      <h3>{{this.postPaciente.Identity.firsName}}, {{this.postPaciente.Identity.lasName}}</h3>
                      <h3>{{this.theTime}}</h3>
                      <!-- <h3>{{this.pacienteForm.value.checkinReason.name}}</h3> -->
                    </mat-card-content>
                  </mat-card>
                </div>
<!-- turno ya registrado -->
              <div *ngIf="this.turno">
                <mat-card class="appointment mx-auto mt-3">
                  <mat-card-title-group class="text-center">
                    <h2 class="text-center mx-auto">{{this.turno.practice}}</h2>
                  </mat-card-title-group>
                  <mat-card-content>
                    <h3>{{this.turno.resource}}</h3>
                    <h3>{{this.turno.fromDateTime}}, {{this.turno.toDateTime}}</h3>
                    <h3>{{this.turno.consultingRoom}}</h3>
                  </mat-card-content>
                </mat-card>
              </div>
              <div *ngIf="(!this.turno) && (this.paciente.formInput==false)">
                <mat-card class="appointment mx-auto mt-3">
                  <mat-card-title-group class="text-center">
                    <h2 class="text-center mx-auto">Ingreso registrado</h2>
                  </mat-card-title-group>
                  <mat-card-content>
                    <h3>Mensaje: {{this.paciente.msg}}</h3>
                  </mat-card-content>
                </mat-card>
              </div>
              <div>
                <button class="mt-4" mat-button (click)="stepper.reset(); resetAll()">
                  Finalizar
                </button>
              </div>
            </mat-step>
          </mat-stepper>
        </mat-card-content>
      </div>
    <div class="row">
      <mat-card-actions class="d-flex">
        <button class="ms-auto go-back-button" (click)="goBack()" mat-raised-button>
          <mat-icon class="keyboard_backspace">keyboard_backspace</mat-icon>
        </button>
      </mat-card-actions>
    </div>
    </div>
  </mat-card>
</div>
