<div class="container">
  <mat-card class="my-card mt-4 mb-4 mx-auto">
    <div class="col">
      <div *ngIf="!loading && (httpErrorType!=1) && (httpErrorType!=2) && !(httpErrorType==0 && httpErrorMsg)">
        <div class="row">
          <mat-card-title class="text-center">LINK A ESTUDIO RIS</mat-card-title>
          <hr>
        </div>
        <div class="row">
          <mat-card-header class="justify-content-center">
            <img mat-card-avatar src="../../../assets/apple-touch-icon.png" alt="Logo-fleni"/>
            <mat-card-title class="subtitle align-text-center">{{this.paciente.apyNom}}</mat-card-title>
          </mat-card-header>
        </div>
        <div class="row">
          <mat-card-content class="justify-content-center">
            <form [formGroup]="startForm" (ngSubmit)="sendCode(startForm.value)" class="mx-auto align-content-center">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Número de paciente</mat-label>
                <input class="pacienteId" formControlName="pacienteId" matInput type="text"  (keypress)="keyPressNumbers($event)" #pacienteId id="pacienteId" placeholder="ej: 212234">
                <mat-icon (click)="getPacienteUrl(pacienteId.value)" class="search-icon">search</mat-icon>
              </mat-form-field>
              <mat-form-field class="d-block" hintLabel="código de 13 digitos" appearance="fill">
                <mat-label>Número de acceso</mat-label>
                <input formControlName="accesoId" matInput type="text"  (keypress)="keyPressNumbers($event)" #accesoId maxlength="13" minlength="13" id="accesoId" placeholder="ej: 9275000624077">
                <mat-error *ngIf="accesoId.size!=13">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </form>
          </mat-card-content>
        </div>
        <div class="row">
          <mat-card-actions class="d-flex">
            <button [disabled]="!startForm.valid" mat-stroked-button type="submit" class="mx-auto" (click)="sendCode(startForm.value)">Validar</button>
          </mat-card-actions>
        </div>
      </div>
      <div class="row" *ngIf="loading">
        <div class="d-flex">
          <mat-spinner class="mx-auto"></mat-spinner>
        </div>
      </div>
      <div class="row" *ngIf="!loading && httpErrorMsg">
        <div class="alert alert-danger text-center mx-auto">
          <p>{{httpErrorMsg}}</p>
        </div>
      </div>
    </div>
  </mat-card>
</div>
