<div class="container">
  <mat-card class="my-card mt-4 mb-4 mx-auto">
    <div class="col">
      <div *ngIf="!loading">
        <div class="row">
          <mat-card-title class="text-center">SELECCIONAR SEDE</mat-card-title>
          <hr>
        </div>
        <div class="row">
          <mat-card-content class="justify-content-center">
            <form [formGroup]="startForm" class="mx-auto align-content-center" (ngSubmit)="saveCheckinSite()">
              <mat-form-field class="d-block" appearance="outline">
                <mat-label>Sitios de check-in</mat-label>
                <mat-select>
                  <mat-option *ngFor="let checkinSite of checkinSites" [value]="checkinSite">
                    {{checkinSite.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </mat-card-content>
        </div>
        <div class="row">
          <mat-card-actions class="d-flex">
            <button mat-stroked-button type="submit" class="mx-auto" (click)="saveCheckinSite()">Guardar</button>
          </mat-card-actions>
        </div>
      </div>
      <div class="row" *ngIf="loading">
        <div class="d-flex">
          <mat-spinner class="mx-auto"></mat-spinner>
        </div>
      </div>
      <div class="row" *ngIf="!loading && (httpErrorType!=0)">
        <div class="alert alert-danger text-center mx-auto">
          <p>{{httpErrorMsg}}</p>
        </div>
      </div>
      <div class="row">
        <mat-card-actions class="d-flex">
          <button class="ms-auto go-back-button" (click)="removeCheckinSite()" mat-raised-button>
            <mat-icon class="restore_from_trash">restore_from_trash</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
