/* You can add global styles to this file, and also import other style files */

html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-app-background {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  background-color: #003a70;
}

.success-snackbar {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
